<div class="container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="sidenav">
      <mat-nav-list>
        <a href="" [routerLink]="['/home']" mat-list-item>home</a>
        <a href="" [routerLink]="['/home2']" mat-list-item>home2</a>
        <a href="" [routerLink]="['/sign-in']" mat-list-item>sign in</a>
        <a href="" [routerLink]="['/sign-up']" mat-list-item>sign up</a>
        <a href="" [routerLink]="['/about-us']" mat-list-item>about us</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between">
      <div class="content" fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="center center">
        <router-outlet></router-outlet>
      </div>
      <div class="footer" fxLayout="row" fxLayoutAlign="center center"><h3 class="mat-h3">Footer</h3></div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
