.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navBar{
    z-index: 100;
    box-shadow:  0 0 40px 0  rgba(136, 136, 136, 0.4) !important;
    color: #e3e3e3;
    background-color: #000;
}

h1.app-name {
    margin-left: 8px;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.sidenav {
    width: 200px;
    background: #000 ;
    color: #fff;
    opacity: 0.6;
    box-shadow: 5px 5px 30px 5px rgba(136, 136, 136, 0.2) !important;
}

.content {

}

.footer {
    min-height: 3em;
    background-color: beige;
}

.progress-bar {
    padding-left: 20px;
    padding-right: 20px;
}

