.scroll-view-inner-container {
    overflow-y: hidden !important;
    opacity: 0.8;
}

.year-progress-title{
    color: white;
    text-align: center;
    position: relative;
    font-family: Roboto;
    font-weight: 500;
}
