/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 .scroll-view-inner-container{
    overflow-y: hidden !important;

}

.scroll-view-outer-container {
    box-shadow: 5px 6px 30px 5px rgba(136, 136, 136, 0.8) !important;
}

.awesome-calendar .cell.hovered {
    background: transparent !important;
}

/*mat-progress-bar .mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element {*/
    /*background-color: red !important;*/
/*}*/