/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 .scroll-view-inner-container{
    overflow-y: hidden !important;
}

.scroll-view-outer-container {
    box-shadow: 5px 5px 30px 5px rgba(136, 136, 136, 0.6) !important;
    background-color: black;
    opacity: 0.8;
}

.mat-list-item-content {
    color: red !important;
}

.mat-progress-bar-fill::after {
    background-color: darkslategrey;
}

.awesome-calendar .cell.hovered {
    background: transparent !important;
}

.awesome-calendar {
    position: relative;
    margin-top: 25px;
    color: white;
}
canvas {
    position: absolute;
    background: #000;
}
